# ignore all db
*.dta
*.dta.t
*.xls
*.xlsx
*.sav
*.SAV
*.txt
*.TXT
*.dbf
*.zip
*.sps
*.rar

# ignore all files
*.docx
*.doc
*.pdf
*.pptx
*.db
*.log
*.lnk

*.oka
*.oku
*.t
.DS_Store
*.DS_Store
*bak.stunicode
DOM/ENCFT/program/Código-de-pobreza-monetaria-2016-2020-en-STATA.do
